
body{
  display: flex;
  height: 100vh; 
  width: 100vw;
}

img{
  position: absolute;
  height: 100vh;
  width: 35vw;
}

img + div{
  color: antiquewhite;
  position: relative;
  font-size: 600px;
  font-family: 'Forum', cursive, sans-serif;
  background-color: rgba(16, 16, 37, 0.233);
  width: 35vw;
  top: 70px;
  display: flex;
}

.image-container{
  display: inline-block;
}

.right-container{
  display: grid;
  flex-direction: row;
  grid-template-rows: auto auto auto;
  float: right;
  align-content: center;
  background-color: rgb(241, 241, 241);
}

.right-div{
  padding-left: 150px;
  font-size: 7em;
}

.title{
  line-height: 150px;
  margin-bottom: 500px;
}

.signup{
  display: block;
}

.form{
  background-color: white;
}

.form-field{
  display: grid;
  grid-template-columns: auto auto ;
  font-size: 6rem;
  width: 3000px;
  gap: 50px;
  margin: 800px 0px;
}


input{
  width: 800px;
  height:80px;
  border-radius: 12px;
}

.input-field{
  display: flex;
}




