
body{
  display: flex;
  height: 100vh; 
  width: 100vw;
  background-color: rgb(250, 250, 250);
}

img{
  position: absolute;
  height: 100vh;
  width: 35vw;
}

img + div{
  color: antiquewhite;
  position: relative;
  font-size: 600px;
  font-family: 'Forum', cursive, sans-serif;
  background-color: rgba(16, 16, 37, 0.233);
  width: 35vw;
  top: 70px;
  display: flex;
}

.credit{
  position: relative;
  font-size: 5em;
  top: 3025px;
  color: rgba(255, 255, 255, 0.795);
  left: 10px;

}


.image-container{
  display: inline-block;
}

.right-container{
  display: grid;
  flex-direction: row;
  grid-template-rows: auto auto auto;
  float: right;
  align-content: center;
  width: 100vw;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.rightDivText{
  margin-top: -200px;
  margin-bottom: 50px;
  width: 3500px;
}


.right-div, .disclaimer{
  font-size: 7em;
  padding-left: 200px;
}

.title{
  line-height: 150px;
  margin-bottom: 500px;
  font-weight: 900;
  margin-top: -500px;
}

.signup{
  display: block;
}

.signupLowerText{
  margin-bottom: -200px;
}

.form{
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 5px 5px 50px 1px rgba(0, 0, 0, 0.2);

}

.form-letsDoThis{
  margin-top: 100px;
  font-weight: bold;
  margin-bottom: -400px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-field{
  display: grid;
  grid-template-columns: auto auto ;
  font-size: 5rem;
  width: 3000px;
  gap: 80px;
  margin: 500px 0px 175px 0px;
  line-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
}


input{
  width: 1400px;
  height:125px;
  border-radius: 12px;
  border-color: rgb(228, 225, 225);
  font-size: 1em;
  padding-left: 15px;
  margin-bottom: 20px;
}


input:focus{
  outline: none;
  border: 1px solid rgb(31, 158, 31);
  box-shadow: 5px 5px 50px 1px rgba(31, 158, 31, .2);
}




.input-field{
  display: flex;
}


#footer{
  margin-bottom: -300px;
}
.footerButton{
  margin: 100px 0px;
  font-size: 1em;
  width: 900px;
  height: 200px;
  border: none;
  background-color: rgb(31, 158, 31);
  color: white;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
  border-radius: 40px;
  cursor: pointer;
}

.footerButton:active{
  background-color: white;
  color: black;

}



.invalidfield{
  border: 15px solid;
  border-color: red;
}


.error{
  color: red;
}

.login{
  color: rgb(31, 158, 31);
  font-weight: bold;
  cursor: pointer;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: white; 
    text-decoration: none;
    font-weight: normal;
}

