*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
}

img{
  position: absolute;
  height: 100vh;
  min-width: none;
  width: 44vw;
}

img + div{
  color: antiquewhite;
  position: relative;
  font-size: 600px;
  padding-left: 4rem;
  font-family: 'Forum', cursive, sans-serif;
  background-color: rgba(16, 16, 37, 0.233);
  width: 44vw;
  top: 70px;
}

.image-container{
  display: inline-block;
}

.right-container{
  display: grid;
  flex-direction: row;
  grid-template-rows: 1000px 1000px 1000px;
  height: 100vh;
  width: 56vw;
  float: right;
  align-content: center;
  background-color: rgb(241, 241, 241);
}

.right-div{
  padding: 40px;
  font-size: 7em;
}

.title{
  line-height: 150px;
  margin-bottom: 500px;
}
span{
  display: block;
}
p{
  margin-top: 100px;
}

.form{
  background-color: white;
}

.form-field{
  width: 125rem;
  flex-wrap: wrap;
  font-size: 6rem;
}